@use "../globals";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 10, 10, 0.6);
  display: grid;
  place-content: center;
  z-index: 99;
  overflow: hidden;

  h3 {
    text-align: center;
  }
  .modal-wrapper {
    background-color: var(--AvvicWhite);
    // position: fixed;
    // left: 100%;
    // margin-top: 11%;
    padding: 2%;
    width: calc(100vw / 1.1);
    height: 100%;
    border-radius: 5px;
    animation: slideIn 0.4s ease-in-out forwards;
    @media (min-width: 796px) {
      width: calc(100vw / 1.7);
    }
    .close-btn {
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  .job-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-inline: auto;
    gap: 1rem;
    label {
      span {
        color: rgb(240, 44, 44);
      }
    }
    input {
      background-color: transparent;
      border: 1px solid var(--textColor);
      font-size: var(--text-font);
      border-radius: 5px;
      line-height: 1.7;
      width: 100%;
      padding: 1%;
    }
    input:focus {
      outline: none;
    }
    .custom-select {
      position: relative;
      select {
        background-color: transparent;
        border: 1px solid var(--textColor);
        font-size: var(--text-font);
        border-radius: 5px;
        line-height: 1.7;
        width: 100%;
        padding: 1%;
      }
    }

    .modal-submit-btn {
      background-color: var(--Btn-AvvicDCyan);
      border: none;
      color: var(--AvvicWhite);
      padding: 3%;
      margin-bottom: 5%;
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      // transform: scale(0);
    }
    100% {
      transform: translateX(0%);
      // transform: scale(1);
    }
  }
}
