@use "../globals";
.pD-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  gap: 2rem;
  padding: 0rem 1rem;

  h3 {
    color: var(--AvvicDBlue);
  }
  .detail-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
    img {
      margin: 0 auto;
      border-radius: 8px;
      max-width: 62.5rem;
    }
    p {
      text-align: center;
      padding-inline: 15rem;
    }
  }
}
