@use "../globals";
#products-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--AvvicWhite);

  #entry {
    text-align: center;
    padding: 2rem;
    @media (min-width: 49.75em) {
      padding: 3rem 5rem;
    }
    @media (min-width: 64.1em) {
      padding: 3rem 20rem;
    }
    h2 {
      color: var(--AvvicDBlue);
      margin-bottom: 1rem;
    }
  }
  // PRODUCTS
  #products-section {
    #product-section-heading {
      h2 {
        color: var(--AvvicDBlue);
        text-align: center;
      }
    }
  }
  #products-wrapper {
    display: grid;
    gap: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
    @media (min-width: 49.75em) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 60.06em) {
      padding: 1rem 8rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .product {
      background: var(--AvvicWhite);
      box-shadow: 1px 1px 1px #d2d5d9;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      padding: 7%;
      border-radius: 25px;
      // border: 1px solid #d2d5d9;

      h3 {
        color: var(--AvvicDBlue);
      }
      p {
        color: var(--AvvicDBlue);
        font-size: 0.8em;
        flex: 1;
      }
      img {
        min-width: 100%;
        // box-shadow: 5px 5px 5px gray;
        border-radius: 25px;
      }
      button {
        width: 100%;
        background-color: transparent;
        background-color: var(--Btn-AvvicDCyan);
        border: none;
        color: var(--AvvicWhite);
      }
      button:hover {
        background-color: #afe8e8;
        color: var(--AvvicDBlue);
      }
    }
  }
  // FOR THE SIDE NAV
  #products-main {
    display: flex;
  }
}
