@use "../globals";
.pD-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  gap: 2rem;
  padding: 5%;
  @media (min-width: 49.75em) {
    width: 70vw;
  }
  h3 {
    color: var(--AvvicDBlue);
  }
  .detail-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
    img {
      margin: 0 auto;
    }
    p {
      text-align: center;
    }
  }
}
