@use "../globals";
.sideNav-container.active {
  width: 18rem;
  padding: 2%;

  .sidenav-open.active {
    transition: 0.3s;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      padding: 0;
      margin: 0;
      cursor: pointer;

      li {
        display: flex;
        width: 16rem;
        gap: 1rem;

        img {
          height: 1.5rem;
        }
      }
    }
  }
}

.sideNav-container {
  position: static;
  width: 4rem;
  border-top: 1px solid #d2d5d9;
  border-right: 1px solid #d2d5d9;
  transition: all 0.3s;
  @media (min-width: 60em) {
    width: 6rem;
  }
  transition: all 0.3s;
  a {
    text-decoration: none;
  }
  .nav-upper {
    display: none;
    @media (min-width: 60em) {
      display: flex;
      padding: 2%;
      justify-content: space-between;
    }
    img {
      max-width: 110px;
      @media (min-width: 60em) {
        margin-top: 2%;
        max-width: 110px;
      }
    }
  }

  .close-btn {
    background-color: transparent;
    border: none;
  }
  .bar {
    display: block;
    width: 15px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--Btn-AvvicDCyan);
    border-radius: 2px;
  }
  .hamburger {
    display: block;
    background: transparent;
    border: none;
    margin-left: 0.5rem;
    @media (min-width: 60em) {
      margin-left: 1rem;
    }
  }
  .active > .hamburger {
    border: 2px solid var(--Btn-AvvicDCyan);
  }
  .active > .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }
  .active > .bar:nth-child(2) {
    transform: translateY(-3px) rotate(-45deg);
  }
  .active > .bar:nth-child(3) {
    opacity: 0;
  }
  .sidenav-open {
    transition: 0.3s;
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      padding: 0;

      cursor: pointer;

      li {
        padding: 1rem;
        display: flex;
        margin: 0;
        img {
          height: 1.5rem;
        }
      }
      li:hover {
        background-color: #d4f2f2;
        transition: all 0.3s;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      li.activePath {
        border-left: 4px solid var(--Btn-AvvicDCyan);
        background-color: #d4f2f2;
        transition: all 0.3s;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
  .sidenav-closed.active {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0;
      cursor: pointer;

      li {
        padding: 2rem;
        display: flex;
        gap: 1rem;
      }
      li:hover {
        background-color: #afe8e8;
      }
    }
  }
}
