#about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  #aboutUs-bg {
    // padding: 6em;
    // @media (min-width: 49.75em) {
    //   padding: 10em;
    // }
    // background: url("../../../public/assets/IMG_2953-min-scaled.jpg") no-repeat
    // center;
    // background-size: cover;
    // color: var(--AvvicWhite);
    // h2 {
    //   color: var(--AvvicWhite);
    //   text-align: center;
    //   width: 100%;
    //   // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    // }
  }
  #about-top-text {
    text-align: center;
    padding: 2rem;
    background-size: cover;
    @media (min-width: 49.75em) {
      padding: 3rem 5rem;
    }

    @media (min-width: 64.1em) {
      padding: 3rem 20rem;
    }
    h2 {
      color: var(--AvvicDBlue);
      margin-bottom: 1rem;
    }
  }
  #about {
    padding: 5%;
    display: grid;
    gap: 3rem;
    position: relative;
    .aboutText {
      align-self: center;
      position: relative;

      @media (min-width: 49.75em) {
        padding-inline: 10%;
      }
      img {
        position: absolute;
        top: -30%;
        // border: 1px solid var(--AvvicDBlue);
        width: 70px;
      }
    }
    h2 {
      color: var(--AvvicDBlue);
      margin-bottom: 1rem;
    }
    @media (min-width: 49.75em) {
      grid-template-columns: 50% 50%;
    }
  }
  #ourValues-wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #fffeff 0%, #d7fffe 100%);
    gap: 5rem;
    padding: 10%;

    #ourValues {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      @media (min-width: 60.06em) {
        flex-wrap: nowrap;
      }
    }

    p {
      text-align: center;
    }
    h2,
    h3 {
      color: var(--AvvicDBlue);
      text-align: center;
    }
  }
  .image-container {
    padding: 2%;
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 90%;
    margin: auto;
    @media (min-width: 49.75em) {
      width: 70%;
    }

    img {
      width: 100%;
      display: block;
      border-radius: 8px;
    }
    #top-right {
      background-color: rgba(13, 153, 153, 0.2);
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      height: 80%;
      z-index: -1;
      border-top-right-radius: 8px;
    }
    #bottom-left {
      background-color: rgba(13, 153, 153, 0.2);
      width: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20%;
      z-index: -1;
      border-bottom-left-radius: 8px;
    }
  }
}
