#leadership {
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h2 {
    color: var(--AvvicDBlue);
    text-align: center;
  }
  #heading-display {
    color: var(--Btn-AvvicDCyan);
    text-align: center;
  }
  #btns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    @media (min-width: 49.75em) {
      gap: 2rem;
    }

    button {
      border: 1px solid var(--Btn-AvvicDCyan);
      background-color: transparent;
      color: var(--Btn-AvvicDCyan);
      font-weight: var(--headings-font-weight);
      transition: 0.3s;
    }
    button:hover {
      background-color: var(--Btn-AvvicDCyan);
      color: var(--AvvicWhite);
      transition: 0.3s;
    }
  }

  .leader-wrapper {
    display: grid;
    padding: 5% 15%;
    gap: 4rem;
    justify-content: flex-end;
    .profile {
      padding: 3%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      h2,
      h4 {
        text-align: center;
      }
      h4 {
        font-size: 1em;
      }
      p {
        font-size: 0.7em;
        text-align: center;
      }
    }

    .fig-img-wrapper {
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px gray;
      }
    }
    h4 {
      color: var(--Btn-AvvicDCyan);
    }
  }
  .grid-3 {
    @media (min-width: 49.75em) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .profile:last-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media (min-width: 64.1em) {
      grid-template-columns: 1fr 1fr 1fr;
      .profile:last-child {
        @media (min-width: 49.75em) {
          grid-column-start: 2;
        }
      }
    }
  }
  .grid-2 {
    @media (min-width: 49.75em) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 64.1em) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
