@use "../globals";
#contact-wrapper {
  a:hover {
    color: var(--Btn-AvvicDCyan);
    transition: padding 0.3s ease-in-out;
  }
  display: flex;
  flex-direction: column;
  gap: var(--whiteSpace);
  background: linear-gradient(90deg, #fffeff 0%, #d7fffe 100%);
  padding: var(--whiteSpace);
  h2 {
    color: var(--AvvicDBlue);
  }
  .support-top {
    text-align: center;
    padding: 2rem;
    @media (min-width: 49.75em) {
      padding: 0rem 5rem;
    }
    @media (min-width: 64.1em) {
      padding: 0rem 20rem;
    }
    h2 {
      color: var(--AvvicDBlue);
      margin-bottom: 1rem;
    }
  }

  #contact {
    // padding: 6em;
    @media (min-width: 49.75em) {
    }
    background-size: cover;
    @media (min-width: 49.75em) {
      // padding: 10em;
    }
    h2 {
      color: var(--AvvicWhite);
      text-align: center;
    }
  }
  #getInTouch {
    // padding: 2%;
    display: grid;
    gap: 2rem;
    @media (min-width: 49.75em) {
      padding-inline: 10rem;
      grid-template-columns: repeat(4, 1fr);
    }

    h2 {
      color: var(--AvvicDBlue);
    }
    p {
      text-align: start;
    }
    .getInTouch-text {
      align-self: center;
      // padding: 4%;
    }
    #contact-links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .contact-links {
        display: grid;
        gap: 2rem;

        @media (min-width: 49.75em) {
          grid-template-columns: 1fr 1fr;
        }
      }
      #get-direction {
        display: flex;
        gap: 1rem;
        text-decoration: none;
      }
    }
  }
  #socials-links-wrapper {
    display: flex;
    gap: 10%;
    margin-top: 1rem;
    height: 3em;
  }
  .image-container {
    padding: 2%;
    display: inline-block;
    position: relative;
    width: 90%;
    z-index: 1;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
    #top-right {
      background-color: rgba(13, 153, 153, 0.2);
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      height: 80%;
      z-index: -1;
    }
    #bottom-left {
      background-color: rgba(13, 153, 153, 0.2);
      width: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20%;
      z-index: -1;
    }
  }
}
