:root {
  --WkWidth: 100%;
  --WKHeight: 100vh;
  --Mobile-brk-point: 796px;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: var(--WkWidth);
  height: var(--WKHeight);
  background-color: var(--Bg-AvvicOffWhite);
  position: relative;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  border-radius: 25px;

  padding: 0.7em;
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
}
