// D means dark
// V means very
:root {
  --AvvicDBlue: #020b32;
  --AvvicCyan: #12cccc;
  --textColor: #626364;
  --Bg-AvvicOffWhite: #f5f7f9;
  --AvvicWhite: #ffffff;
  --Btn-AvvicDCyan: #0d9999;
  --AvvicVDGrey: #353c5b;
  --AvvicBlack: #000000;
  --AvvicPurple: #e2e7fe;
  --AvvicGreen: #e0ffe0;
}
body {
  color: var(--textColor);
}
a {
  color: var(--textColor);
}
