@use "../globals";

#footer-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--AvvicWhite);
  gap: 1rem;
  padding: 5%;
  font-size: var(--small-text);
  a:hover {
    color: var(--Btn-AvvicDCyan);
    transition: padding 0.3s ease-in-out;
  }

  h4 {
    color: var(--AvvicBlack);
  }
  .logo-div {
    padding-inline: 4%;
    img {
      max-width: 110px;
      @media (min-width: 64.1em) {
        margin-top: 2%;
        max-width: 150px;
      }
    }
  }
  .text-div {
    display: grid;
    // border: 1px solid red;
    @media (min-width: 49.75em) {
      grid-template-columns: 40% 20% 20% 20%;
    }
    padding: 4%;
    gap: 2%;
    #input-link {
      font-size: 0.8em;
    }
  }
  .input-div {
    display: flex;

    gap: 2%;
  }
  button {
    background-color: transparent;
    border: 1px solid var(--textColor);
    padding: 2%;
    font-size: var(--btn-text-size);
    font-weight: 400;
    color: var(--AvvicBlack);
  }
  input {
    background-color: transparent;
    border: 1px solid var(--textColor);
    font-size: var(--text-font);
    line-height: 1.7;
    width: 60%;
    padding: 2%;

    border-radius: 5px;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 4%;
  }
  a {
    display: inline-block;
  }
  #social-links {
    display: flex;
    gap: 10%;
    margin-top: 3%;
    height: 3em;
    a {
      display: inline-block;
    }
  }
  #footer-links {
    a {
      display: inline-block;
      text-decoration: none;
    }

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .border-div {
    border-bottom: 1px solid var(--textColor);
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #policy-div-wapper {
    display: flex;
    justify-content: space-between;

    padding: 2%;
    padding-inline: 3%;
  }
  #policy-div {
    display: flex;
    gap: 1rem;
  }
}
