@use "../globals";
#landing-about {
  background: linear-gradient(90deg, #fffeff 0%, #d7fffe 100%);
  padding: 2%;
  display: grid;
  @media (min-width: 49.75em) {
    grid-template-columns: 50% 50%;
  }
  .aboutText {
    align-self: center;
    padding: 4%;
    h2 {
      color: var(--AvvicDBlue);
      // font-size: var(--large-text-size);
      font-weight: var(--headings-font-weight);
    }
  }
  img {
    width: 100%;
  }
  .image-container {
    padding: 10%;
    #top-right {
      display: none;
    }
    #bottom-left {
      display: none;
    }
  }
}
