@use "../globals";
#features {
  display: flex;
  width: 100%;
  background-color: var(--AvvicPurple);
  @media (min-width: 49.75em) {
    flex-wrap: nowrap;
  }

  flex-wrap: wrap;
  flex: 1/1;
  gap: 2rem;
  padding: 4%;
  .feature {
    img {
      height: 200px;
    }
  }
  //   .square {
  //     background-color: #e3fdfd;
  //   }
  // }
  // .feature:nth-child(2) {
  //   .square {
  //     background-color: #e0ffe0;
  //   }
  // }
  // .feature:nth-child(3) {
  //   .square {
  //     background-color: #e2e7fe;
  //   }
  // }
  h3 {
    color: var(--AvvicDBlue);

    font-weight: var(--headings-font-weight);
  }

  .feature {
    border-radius: 25px;
    display: grid;
    gap: 2rem;
    // position: relative;
    padding: 2%;
    justify-content: center;
    div {
      justify-self: center;
    }
    h3,
    p {
      text-align: center;
    }
    // .square {
    //   height: 4em;
    //   border-top-right-radius: 25px;
    //   width: 4em;
    //   background-color: #555;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    // }
  }
}
