@use "../globals";
#getapp {
  display: flex;
  flex-direction: column-reverse;
  padding: 5%;
  gap: 1rem;
  // background-color: #e2e7fe;
  @media (min-width: 49.75em) {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  h2 {
    color: var(--AvvicDBlue);
    font-weight: var(--headings-font-weight);
  }
  #app-link-div {
    display: flex;
    gap: 1rem;
  }

  #get-app-text {
    align-self: center;
  }
}
