@use "../globals";

.overlay {
  .modal-wrapper {
    .career-heading {
      text-align: center;
    }
  }
  .job-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-inline: auto;
    gap: 1rem;
    label {
      span {
        color: rgb(240, 44, 44);
      }
    }
    input {
      background-color: transparent;
      border: 1px solid var(--textColor);
      font-size: var(--text-font);
      border-radius: 5px;
      line-height: 1.7;
      width: 100%;
      padding: 1%;
    }
    input:focus {
      outline: none;
    }
    .custom-select {
      position: relative;
      select {
        appearance: none;
        outline: none;
        background-color: transparent;
        border: 1px solid var(--textColor);
        font-size: var(--text-font);
        border-radius: 5px;
        line-height: 1.7;
        width: 100%;
        padding: 1%;
      }
    }

    .modal-submit-btn {
      background-color: var(--Btn-AvvicDCyan);
      border: none;
      color: var(--AvvicWhite);
      padding: 1rem;
      margin-bottom: 5%;
    }
  }
}
